/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.main-card__container {
  margin-top: 50px;
}
button {
  cursor: pointer;
}

th, tr {
  cursor: pointer;
}
